:root{
    --bgColor-body: rgb(250,252,254);
    --bgColor-card: rgb(254,255,254);
    --title-color: #3e3b49;
    --text-color :#6b7a85;
    --bgtooltip : #e3f0fd;
    --shadow-color : #b7c1c8;
    --font-family : "manrope", sans-serif;

    --bgColor-body-dark : #182329;
    --bgColor-card-dark: #212f37;
    --title-color-dark: #ebeef3;
    --text-color-dark : #a9b2bb;
    --bgtooltip-dark : #2a3b47;
    --shadow-color-dark : #2b3743;
    
   

}